*

{
    margin : 0;
    padding : 0;
} 
header{
    background-color: rgb(199, 168, 196);
    height: 100vh;
    
}
.main {
    padding: 20px;
    margin: 20px;
}

.input-group1{
    margin-left: 250px;
    margin-right: -50px;
}

.input-group2{
    
    margin-left: 700px;
    margin-right: -500px;
}
.input-group3{
    margin-top: -175px;
    margin-left: 700px;
    margin-right: -500px;
}
